<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.thoughtworks.missedcallreminder" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-sdk android:minSdkVersion="7"></uses-sdk>


	<application android:label="@string/app_name"
		android:debuggable="true" android:icon="@drawable/reminder1"
		android:description="@string/app_desc" android:name="ReminderApplicationContext">
		<service android:enabled="true" android:label="Missed call reminder"
			android:name=".service.ReminderService">
			<intent-filter>
				<action android:name="ReminderService"></action>
			</intent-filter>
		</service>
		<receiver android:name="ReminderBootReciever"
			android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
				<category android:name="android.intent.category.HOME"></category>
			</intent-filter>
		</receiver>
		<activity android:name="ReminderStartActivity"
			android:enabled="true">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
	</application>
</manifest>